@tailwind base;
@tailwind components;
@tailwind utilities;

/* .highcharts-button-symbol, .highcharts-credits, .highcharts-exporting-group{
    display: none;
  } */

/* 
  .highcharts-root{
    width: 400px;
  }  */

  .highcharts-credits{
    display: none;
  }
  
  .highcharts-title{
    display: none;
  }